--require spec_helper
require_relative: '../display_rainbow.rb'

--format documentation
describe "display_rainbow method" do
	it "prints out the colors of the rainbow correctly when passed in in order" do
	color = color[0]("red")
	expect(color).to equ("red")
	end
end

--color


